/* fonts */
@font-face {
	src: url(../fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf);
	font-family: sans;
	font-weight: normal;
}

@font-face {
	src: url(../fonts/Abril_Fatface/AbrilFatface-Regular.ttf);
	font-family: fatface;
	font-weight: normal;
}

@font-face {
	src: url(../fonts/Cormorant/Cormorant-Light.ttf);
	font-family: cormorant;
	font-weight: normal;
}

.omega{
    background-color: #F2ECE2;
}

.top {
    background-image: url("../omegabkgd.png");
    background-repeat: no-repeat;
    background-position: center;
    max-width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.navLinks {
    text-align: center;
}

.links {
    padding-top: 2%;
    width: 100%;
    text-align: center;
    display: inline-block;
}

.link1 {
    position: relative;
    color: #333;
    font-family: sans;
    font-size: 20px;
    text-decoration: none;
    margin-left: 5%;
    margin-right: 5%;
    
}

.link1:after {
    content: "";
    position: absolute;
    background-color: #333;
    height: 1px;
    width: 100%;
    left: 0;
    bottom: -3px;
    color: #333;
}

.link1:hover {
    color: #333;
}

.link {
    position: relative;
    color: #333;
    font-family: sans;
    font-size: 20px;
    text-decoration: none;
    margin-left: 5%;
    margin-right: 5%;
    
}

.link:after {
    content: "";
    position: absolute;
    background-color: #333;
    height: 1px;
    width: 0;
    left: 0;
    bottom: -3px;
    color: #333;
    transition: 0.3s;
}

.link:hover:after {
    width: 100%;
}

.link:hover {
    text-decoration: none;
    color: #333;
}

.title {
    padding-top: 3%;
    text-align: center;
}

.head {
    font-family: cormorant;
    font-weight: lighter;
    font-size: 60px;
    line-height: 0.4;
}

.desc {
    font-family: sans;
    font-variation-settings: 'wght' 200;
    font-size: 25px;
    line-height: 1.5;
}

.omegascreen {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding-bottom: 5%;
    height: 50%;
    margin-top: -5%;
}

.product {
    margin-top: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-bottom: 5%;
    text-align: center;
    align-items: center;
    background-color: #E9DDCA;
    padding-right: 25%;
    padding-left: 25%;
}

.productt {
    font-family: cormorant;
    font-weight: lighter;
    font-size: 40px;
    line-height: 0.4;
}

.productd {
    font-family: sans;
    font-variation-settings: 'wght' 200;
    font-size: 20px;
    line-height: 1.5;
}

.job {
    margin-top: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    align-items: center;
    padding-right: 25%;
    padding-left: 25%;
}

.screen {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding-bottom: 3%;
    height: 50%;
    margin-top: -5%;
}

.xdesc2 {
    padding-top: 15%;
    font-family: sans;
    font-variation-settings: 'wght' 200;
    font-size: 20px;
    line-height: 1.5;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.screenlink {
    font-family: sans;
    font-variation-settings: 'wght' 500;
    font-size: 20px;
    line-height: 1.5;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
    color: #D4A384;
    text-decoration: none;
}

.screenlink:hover {
    color: #333;
}

.clubs {
    text-align: center;
}

.club {
    display: flex;
    justify-content: center;
    
}


.clubtitle {
    font-family: cormorant;
    font-weight: lighter;
    font-size: 50px;
    margin-bottom: 2%;
    margin-top: 10%;
}

.bp {
    background-image: url("../interestnbjc.png");
    background-repeat: no-repeat;
    transition: .3s all;
    width: 26%;
}

.bp:hover {
    background: url("../interestnbjchover.png");
    background-repeat: no-repeat;
    transform: translateY(-5px);
    transition: .3s all;

}

.aaa {
    background-image: url("../interestbuildabear.png");
    background-repeat: no-repeat;
    transition: .3s all;
    width: 26%;
    /* position: relative; */
}

.aaa:hover {
    background: url("../interestbuildabearhover.png");
    background-repeat: no-repeat;
    transform: translateY(-5px);
    transition: .3s all;
}

.code {
    background-image: url("../interestfindyourzen.png");
    background-repeat: no-repeat;
    transition: .3s all;
    width: 26%;
}

.code:hover {
    background: url("../interestfindyourzenhover.png");
    background-repeat: no-repeat;
    transform: translateY(-5px);
    transition: .3s all;
}

.project {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.build {
    background-image: url("../buildabear.png");
    background-repeat: no-repeat;
    transition: .3s all;
    width: 58%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.build:hover {
    background: url("../buildabearhover.png");
    background-repeat: no-repeat;
    transform: translateY(-5px);
    transition: .3s all;
}
.scrollup {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 2%;
    padding-bottom: 10%;
}

.xdesc3 {
    padding-top: 5%;
    font-family: sans;
    font-variation-settings: 'wght' 200;
    font-size: 20px;
    line-height: 1.5;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
